header {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  font-family: sans-serif Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: white;

}

.title {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px
  z-index: 1;
}

a {
  color: black;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.title img {
  margin-right: 12px;
  width: 70px;
  height: 60px;
}

.title span {
  color: mediumaquamarine;
}

header nav {
  padding-right: 14px;
}

.container {
  border: 1px solid black;
}

.column big {
  display: flex;
  flex-direction: column;
  width: 630px;
}

.main-story {
  margin-top: 100px;
  border: 1px solid black;
}

.image-content {
  border: 1px solid black;
}

.orca {
  border: 1px solid black;
}

.burger {
  border: 1px solid black;
}

.text {
  padding: 3px;
}
